@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'variables';

body {
  background-color: $favColor;
}

.project-card {
  width: 15%;
  height: 15%;
  margin: 10px;
}

// .project-container {
//   display: flex;
//   justify-content: center;
//   flex-flow: row wrap;
// }
